@import "./../abstract/variables";
// main menu styling
.menu {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-color: $clr-black-80;
  padding: 0.5rem 0.8rem;
  border-radius: 50rem;
  cursor: pointer;
  // Main body
  &__nav {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  &__list {
    display: flex;
    flex: row;
    list-style: none;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
  }
  &__list.hide {
    margin-left: -600px;
    opacity: 0;
    z-index: -100;
  }
  &__list.show {
    margin-left: 0;
    opacity: 1;
    z-index: 100;
  }
  &__item {
  }
  &__link {
    display: block;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 50rem;
    padding: 0.7rem 1rem;
    &:hover {
      color: #fff;
      background-color: #d9d9d91a;
    }
    &.active {
      color: #fff;
      background-color: #d9d9d91a;
    }
  }
  &__btn {
    background-color: #191919;
    outline: none;
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 20rem;
    font-weight: bold;
    transform: scale(1);
    &:hover {
      background-color: #000;
      transform: scale(0.95);
    }
    &:hover .logout-icon {
      -webkit-animation: shake-horizontal 0.8s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
    }
  }
}
