.btn-primary {
  background-color: $clr-primary-200 !important; /* New background color */
  border-color: $clr-primary-200 !important; /* New border color */
  &:hover {
    background-color: $clr-primary-100 !important; /* Darker shade on hover */
    border-color: $clr-primary-100 !important; /* Darker border color on hover */
  }
}

.btn-outline-primary {
  color: $clr-primary-200 !important; /* Text color */
  background-color: transparent !important; /* Keep transparent background */
  border-color: $clr-primary-200 !important; /* Set border color */
  &:hover,
  &:focus {
    color: #fff !important; /* Text color on hover/focus */
    background-color: $clr-primary-200 !important; /* New background color on hover */
    border-color: $clr-primary-200 !important; /* Keep border color consistent */
  }
}
