$clr-bg-100: #f7f6f5;
$clr-accent-100: #000;
$clr-fg-100: #fff;
$clr-fg-200: #f2edeb;
$clr-bg-100: #f7f6f5;
$clr-primary-100: #22e39f;
$clr-primary-200: #45e6ad;
$clr-primary-300: #60f0bd;
$clr-primary-400: #8cf5d0;
$clr-primary-500: #baf7e2;
$clr-primary-600: #dcfcf1;
$clr-grey-100: #e6e6e6;
$clr-grey-200: #ccc;
$clr-grey-300: #b3b3b3;
$clr-grey-400: #999;
$clr-grey-500: grey;
$clr-grey-600: #666;
$clr-grey-700: #4d4d4d;
$clr-grey-800: #333;
$clr-grey-900: #191919;
$clr-text-100: #000;
$clr-text-200: #fff;
$clr-error-100: #ff1f1f;
$clr-error-200: #ff5454;
$clr-error-300: #ff8c8c;
$clr-error-400: #ffbdbd;

// FONT SIZE

$font-spacing-xxs: 0.2rem;
$font-spacing-xsm: 0.4rem;
$font-spacing-sml: 0.7rem;
$font-spacing-med: 1rem;
$font-spacing-lrg: 2rem;
$font-spacing-xlg: 4rem;
$font-spacing-xxl: 8rem;
$font-radius-xsm: 3px;
$font-radius-sml: 4px;
$font-radius-med: 8px;
$font-radius-lrg: 12px;
$font-radius-xlg: 16px;
$font-font-size-xxs: 0.7rem;
$font-font-size-xsm: 0.825rem;
$font-font-size-sml: 1rem;
$font-font-size-med: 1.2rem;
$font-font-size-lrg: 1.7rem;
$font-font-size-xlg: 2.5rem;
$font-font-size-xxl: 4rem;
